.RadioButtonGroup {
  background: #f1f2f6;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  box-shadow: 0 2px 3px #f1f2f6;
  min-height: 250px;
}

.GroupFieldSet {
  border: 2px solid#ff4757;
  margin: 10px;
}

.FieldSetLegend {
  color: #ff4757;
  text-transform: uppercase;
  margin: 10px;
}

.ResourceCatLabel {
  text-transform: uppercase;
  background: #2f3542;
  margin: 5px;
  padding: 5px;
  color: white;
}

.ResourceCatIcon {
  height: 100%;
}

.ResourceCat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}