.Button {
  /* background-color: #0a3d62; */
  color: white;
  width: 50%;
  height: 120%;
  font-size: 60%;
  text-align: center;
  color: white;
  outline: none;
  cursor: pointer;
  /* font: inherit; */
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #eeeeee;
}

.Success {
  /* color: #5C9210; */
  background-color: #2d3436;
}

.Danger {
  background-color: #eb4d4b;
  /* color: #944317; */
}

.Button:disabled {
  color: #eeeeee;
  cursor: not-allowed;
}