.Resolutionbox {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px auto;
  font-size: 90%;
}

.Flipped {
  background: yellow;
}

.NotAdded {
  background: #dfe6e9;
}

.Added {
  background: #00b894;
  color: #dfe6e9;
  font-weight: bold;
}