.Quest {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
}

.QuestTitle {
  margin: 20px auto;
  font-size: 140%;
  background: #00b894;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 3px #f1f2f6;
}

.FormPart {
  display: flex;
  flex-direction: column;
}

.SubmitBtn, .NextBtn {
  color: white;
  width: 25%;
  height: 40px;
  font-size: 80%;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px auto;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #eeeeee;
}

.SubmitBtn {
  background: #00b894;
}

.NextBtn {
  background: #007eff;
}

.CounterDiv {
  margin: auto;
  padding: 10px;
  
}